# Ignore Python virtual environment
venv/
.venv/
.env

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific junk
.DS_Store
Thumbs.db

#IEP-FoodAnalyzer/testing.png

testing.py

mlartifacts
mlruns